@tailwind base;
@tailwind components;

@import url("https://fonts.googleapis.com/css2?family=Montsserrat:wght@300;400;600;800&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;800&display=swap"); */

* {
  font-family: "Montserrat", sans-serif !important;
  /* font-family: "Libre Franklin", sans-serif !important; */
}

.gradient {
  background: rgb(46,28,120);
  background: linear-gradient(135deg, rgba(46,28,120,1) 0%, rgba(121,40,218,1) 50%, rgba(46,28,120,1) 100%);
}
.hexagons{
  background-color: #2e1c78;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23e1ac58' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.grows {
  @apply transform scale-105 transition ease-in duration-300;
}

.dash:before {
  content: "- ";
}

.btn {
  @apply rounded shadow-lg shadow-purple-700/50 p-2 px-3 font-bold;
}
.btn:hover {
  @apply grows;
}
.btn.large {
  @apply py-4 px-8;
}
.btn.purple{
  @apply bg-purple-700;
}
.btn.transparent {
  @apply bg-transparent text-white border-white;
}
.btn.white {
  @apply border border-white border-solid shadow-md shadow-white bg-white text-black;
}
.iphonePreview {
  /* background-color: black; */
  width: 400px;
  height: 803px;
  z-index: 2;
}
.iphoneBackground {
  background-image: url("/iphoneXr.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
}
.clipPath {
  transform: scale(0.82, 0.82) translate(16px, 14px);
}
.videoPlayer {
  clip-path: url("#screenMask");
  height: 96%;
  width: 93%;
  left: 13px;
  top: 12px;
}
@media (max-width: 1023px) {
  .iphonePreview {
    width: 296px;
    height: 594px;
    /* z-index: 2; */
  }
  .iphoneBackground {
    width: 296px;
  }
  .videoPlayer {
    top: 9px;
    left: 8px;
  }
  .clipPath {
    transform: scale(0.65, 0.72) translate(0px, -16px);
  }
}
.money {
  background-image: url("/money.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  clip-path: polygon(3% 17%, 75% 0%, 96% 31%, 92% 87%, 5% 74%, 12% 50%);
  z-index:1;
}
.spy {
  background-image: url("/spy.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0 50%);
  z-index:1;
}
.flex-center {
  @apply flex items-center justify-center;
}

Th{
  text-align: center;
  @apply border;
}
Td{
  font-size: 1.2rem;
  text-align: center;
  padding:0.5rem;
  @apply border;
}
Td:first-child{
  font-weight: bold;
  padding-left: 1rem;
  text-align: right;
}
.responsiveTable tbody tr{
  @apply border-white;
}

@tailwind utilities;
